<%- include("_header-auth") -%>

<div class="columns is-mobile is-centered mt-5">
  <div class="column is-10">
    <h1 class="title is-3">Reviews <%= reviews[0].name %> liked</h1>
    <div class="tile is-ancestor">
      <div class="tile">
        <div class="tile is-parent">
          <% for(const review of reviews) { %>
          <div class="tile is-child">
            <div class="card m-4">
              <header class="card-header">
                <p class="card-header-title"><%= review.movie %></p>
              </header>
              <div class="card-content">
                <div class="content">
                  <p><%= review.review_comment %></p>
                  <strong>Rate : <%= review.rate %></strong>
                  <br />
                  <p>By <%= review.reviewer %></p>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("_footer") -%>
